:root {
  --primary-color: #05043b;
  --secondary-color: #D9C8B4;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: 1s;
    opacity: 0.3
    transition-timing-function: ease-in-out;
}

p {
    font-weight: 400;
}

/* Headings */
.title-heading {
    font-size: 400%;
    font-weight: 700;
}

.sub-heading {
    font-size: 200%;
    font-weight: 400;
    line-height: 1.5;
}

/* Sections */

.dark-section {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5%;
}

.light-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 5%;
}

white-section {
    color: var(--primary-color);
    padding: 5%;
}

/*-------------------- NAVBAR --------------------*/
#nav-menu {
    text-align: center;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.offcanvas {
    background-color: var(--primary-color);
}

#nav-menu .profile-pic {
    border-radius: 50%;
    width: 38%;
}

.icon-images {
    width: 3rem;
    padding: 20%;
}

.menu-images {
    width: 3rem;
    display: inline-block;
    padding-right: 5%;
}

.icon-image {
    display: inline-block;
}

.nav-link {
    padding: 5% 0 5% 0;
}

#nav-menu a, #nav-menu p {
    color: var(--secondary-color);
    opacity: 0.7;
    transition: 1s;

}

#nav-menu a:hover{
    opacity: 1;;
}

#nav-menu .links {
    text-align: left;
    padding-left: 30%;
    padding-top: 5%;
}

.navbar-toggler {
    background-color: var(--secondary-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.copyright-text {
    position: absolute;
    bottom: 1%;
    left: 30%;
    color: var(--secondary-color);
}
/*-------------------- HOME - INDEX --------------------*/
.title-text {
    position: relative;
    top: 250%;
}

#landing {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 4%;
    height: 1000px;
    width: 130%;
}

a:hover {
    opacity: 2;
    color: var(--secondary-color);
}
/*-------------------- ABOUT - INDEX --------------------*/
#about {
    padding: 3%;
    width: 130%;
}

.motivation-text {
    padding-top: 5%;
    padding-bottom: 2%
}

.motivation-section {
    padding-bottom: 5%;
}

#about img {
    width: 100%;
}
/*-------------------- CV - INDEX --------------------*/

#cv {
    width: 130%;
}

.cv-section-titles {
    padding: 3% 3% 3% 0;
}

/*-------------------- PORTFOLIO - INDEX --------------------*/
#portfolio {
    width: 130%;
    color: var(--primary-color);
}

#portfolio a {
    color: var(--primary-color);
}

.portfolio-link-image {
    width: 10%;
}

.project-row {
    padding: 5% 0;
}

.project-images {
    width: 80%;
}



/*-------------------- CONTACT - INDEX --------------------*/
#contact {
    width: 130%;
}

/*-------------------- PORTFOLIO - PAGE --------------------*/
#portfolio-header {
    text-align: right;
}

#portfolio-body {
    text-align: right;
    height: 600px   ;
}


#portfolio-body .card-body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#portfolio-body .card {
  position: relative;
  width: 80%;
  height: 0;
  perspective: 1000px;
}

#portfolio-body .card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#portfolio-body .card-back {
  transform: rotateY(180deg);
}

/*-------------------- PROJECT TEMPLATE PAGE --------------------*/
#project-template-header, #project-template-body {
    text-align: right;
}

.description-text {
    white-space: pre-line;
}

/*-------------------- ADD PROJECT --------------------*/

.form-group {
    padding: 1%;
    width: 50%;
}

/*-------------------- RESPONSIVENESS --------------------*/

    /*TABLETS*/

@media (max-width: 1200px) {
    /*COLLAPSE NAV*/
	#sticky-bar {
        visibility: hidden;
        z-index: -1;
        transition: 1s;
    }

    /*BACKGROUND IMAGE*/
    .full-content {
        position: relative;
        left: 0;
        transition: 1s;
    }

    /*PADDING FOR IMAGES*/

    .project-row {
        padding: 0;
    }

}

