{% import "bootstrap/wtf.html" as wtf %}
{% include "nav_menu.html" %}



<body>


        <!---------- LANDING SECTION ---------->
        <section id="landing">

            <div class="row">
                <div class="col-6 offset-6">
                    <div class="title-text">
                        <h1>Eduardo Olmos</h1>
                        <br>
                        <h4>A developer</h4>
                    </div>
                </div>
            </div>

        </section>
        <!---------- ABOUT SECTION ---------->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img src="{{ url_for('static', filename='/img/profile-pic.png') }}" alt="Eduardo-Olmos">
                    </div>
                    <div class="col-4">
                        <p>Born and raised in Liverpool, I have always had a passion for technology and education. After completing my Diploma of Higher Education in the UK, I took advantage of the opportunity to study in Madrid through an Erasmus program. This experience not only allowed me to immerse myself in a new culture, but also sparked my interest in different approaches to education.</p>
                        <p>As a result, in 2019 I completed my Masters Degree while living here and working as a teacher.</p>
                        <p>With a desire to find greater satisfaction, I made a career change in the summer of 2022. I had had the opportunity to teach basic coding classes at a school, and this experience solidified my passion for technology and programming.</p>
                        <p>Since then, I have been continuously learning and developing my skills in Python, HTML, CSS, and other related technologies. I have gained experience with Jinja templating, Bootstrap, Flask, and SQL, among others.</p>
                        <p>I am eager to start my journey in the tech industry and am now actively seeking my first position. I am a quick learner, highly motivated, and committed to using my skills and knowledge to make a difference.</p>
                        <p>Feel free to reach out to me with any questions, I would be happy to answer and provide more information.</p>
                    </div>
                </div>
                <div class="row motivation-text">
                    <div class="col-12">
                        <h3>My motivation</h3>
                    </div>
                </div>
                <div class="row motivation-section">
                    <div class="col-4">
                        <p>With a strong foundation in problem-solving, communication, and teamwork from my years as a teacher, I am confident that I can bring a unique perspective and set of skills to the field of programming. I am driven by my desire to continue learning, and to use technology to create solutions that improve people's lives.</p>
                        <p>I am excited to embark on this new journey and to see what the future holds. I am confident that my experience, passion, and dedication will allow me to succeed and make a meaningful contribution to the tech community</p>
                    </div>
                    <div class="col-4">
                        <img src="{{ url_for('static', filename='/img/profile-pic.png') }}">
                    </div>
                </div>
            </div>
        </section>

        <!---------- CV SECTION ---------->
        <section id="cv">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-12 cv-section-titles">
                        <h2>Education</h2>
                        <div class="row">
                            <div class="col-2">
                                <p>2022/2023</p>
                            </div>
                            <div class="col-4">
                                <h6>The App Brewery</h6>
                                <p>100 Days of Code: Python</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2019/20</p>
                            </div>
                            <div class="col-4">
                                <h6>UNIR</h6>
                                <p>Ma Bilingual Education</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2010/13</p>
                            </div>
                            <div class="col-4">
                                <h6>University Of Chester</h6>
                                <p>Ba Hons Spanish</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2007/10</p>
                            </div>
                            <div class="col-4">
                                <h6>University Of Salford</h6>
                                <p>DipHE Accounting & Finance</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-12 cv-section-titles">
                        <h2>Work History</h2>
                        <div class="row">
                            <div class="col-2">
                                <p>2015 - pres.</p>
                            </div>
                            <div class="col-4">
                                <h6>Kensington Site</h6>
                                <p>University of Cambridge Examiner</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2022</p>
                            </div>
                            <div class="col-4">
                                <h6>Ie University</h6>
                                <p>Program Coordinator</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2020/22</p>
                            </div>
                            <div class="col-4">
                                <h6>IES Reina Sofia</h6>
                                <p>English and Technology Teacher</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <p>2015/21</p>
                            </div>
                            <div class="col-4">
                                <h6>Totana Interactive</h6>
                                <p>Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!---------- PORTFOLIO SECTION ---------->
        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Portfolio</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>This is a random selection of the work I
                            have been completing since I began
                            my journey. I have included the advanced and portfolio projects.</p>
                    </div>
                    <div class="col-xl-6 col-12">
                        <p>Click here for the complete collection</p>

                        <div class="row">
                            <div class="col-xl-4 col-12">
                                <a class="btn btn-dark btn-sm" href="{{ url_for ('portfolio') }}" role="button">Projects</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row project-row">
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <img src="https://picsum.photos/300/200" class="project-images">
                    </div>
                </div>
            </div>
        </section>

        <!---------- CONTACT SECTION ---------->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>If you'd like to get in touch just fill out the form below </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>



            </div>
        </section>


    </div>
</body>

<footer>



</footer>
</html>