{% include "nav_menu.html" %}

<body>
    <section id="portfolio-header">
        <div class="row">
            <div class="col-9">
                <h1>My Portfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p>Below I have included the Advanced projects from the 100 Days of Code course I have completed, as well as my Professional Portfolio.</p>
                <p>All projects are on my GitHub
                    <a class="icon-image" aria-current="page" href="https://github.com/BigEd12">
                        <img class="icon-images" src="{{ url_for('static', filename='/img/github_blue.png') }}">
                    </a>
                </p>

            </div>
        </div>
    </section>
    <section id="portfolio-body">
        <div class="row">
        {% for project in projects %}
            <div class="col-12 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <a href="{{ url_for('projects', project=project.id) }}">
                                <img src="{{ url_for('static', filename='/images/projects/' ~ project.number ~ '/images/2.jpg') }}" class="card-img-top" alt="Eduardo Olmos {{ project.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.number }}. {{ project.name}}</h5>
                                </div>
                            </a>
                        </div>
                        <div class="card-back">
                            <a href="{{ url_for('projects', project=project.id) }}">
                                <img src="{{ url_for('static', filename='/images/projects/' ~ project.number ~ '/gifs/2.gif') }}" class="card-img-top" alt="Eduardo Olmos {{ project.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ project.number }}. {{ project.name}}</h5>
                                    <p><small>{{ project.level}}</small></p>
                                    <p><small>{{ project.c_provider}}</small></p>
                                    <p><small>{{ project.c_name}}</small></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>