{% include "nav_menu.html" %}

<body>
    <section id="project-template-header">
        <div class="row">
            <div class="col-9">
                <h1>{{ project.number }}. {{ project.name }}</h1>
            </div>
        </div>
    </section>
    <section id="project-template-body">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="project-image-container">
                    <img src="{{ url_for('static', filename='/images/projects/' ~ project.number ~ '/gifs/1.gif') }}">
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <h5 class="card-title">{{ project.name }}</h5>
                <hr>
                <p class="card-text">{{ project.description }}</p>
                {% if project.focus %}
                <hr>
                <p class="card-text"><small class="text-muted">Focus for the project:</small></p>
                <p class="card-text"><small class="text-muted">{{ project.focus }}</small></p>
                {% endif %}
                <hr>
                <p class="card-text"><small class="text-muted">{{ project.level }} project</small></p>
                <hr>
                <p class="card-text"><small class="text-muted">{{ project.c_provider }}</small></p>
                <p class="card-text"><small class="text-muted">{{ project.c_name }}</small></p>
                <hr>
                <a class="icon-image" aria-current="page" href="{{ project.github }}">
                    <img class="icon-images" src="{{ url_for('static', filename='/img/github.png') }}">
                </a>
            </div>
        </div>
    </section>
</body>
